<div class="footer container text-center" id="contact">
  <ul class="footer-icons list-inline">
    {{ range $.Site.Params.social }}
    <li>
      <a href="{{ .link | safeURL }}" target="_blank" rel="noreferrer"><i class="{{ .icon }} footer-icon fa-3x" aria-label="{{ .alt }}"></i></a>
    </li>
    {{ end }}
  </ul>
</div>

<footer class="footer text-center py-4">
  <hr class="my-3" style="opacity:0.2;">
  <p><strong>
      {{ if site.Data.content.footer.short_title }}{{ site.Data.content.footer.short_title }}{{ else }}{{ .Title }}{{ end }}
    </strong> portfolio developed and maintained by
    <a href="{{ site.Data.content.footer.github }}" target="_blank"><strong>Antorip Sahu</strong></a>.
  </p>
  <p class="text-muted">
    © {{ now.Format "2006" }}
    {{ if site.Data.content.footer.short_title }}{{ site.Data.content.footer.short_title }}{{ else }}{{ .Title }}{{ end }}. All rights reserved.
  </p>
</footer>
